body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    color: red
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#contador {
    font-size: 48px;
    margin: 20px 0;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

